<br/>
<div class="jumbotron">
  <h1>wikiapp</h1>
  <p>Wikiapp is a resource for collaborative thoughts and ideas</p>
  <p>
      <%= link_to "Sign In", "", class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", "", class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Share Ideas</h2>
    <p>The ideas keep flowing amongst the chosen few with this tool.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates stupidity</h2>
    <p>Just trust us on this one.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Wait wrong project.</p>
  </div>
</div>